@model app_TWINTER.Models.User

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<html>

<head>
    <!-- -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Basic Features-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Centralization-->
    <link rel="stylesheet" href="~/Content/Vertical_Horizontal_Align_Style.css">
</head>
<body background="~/Content/Images/login_registration.jpg">

    <h2>Login</h2>
    <hr />
    <div class="HorizVert">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.email, new { @class = "form-horizontal" })
                            @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Registration", "Register", "Account", null, null)
                    </p>
                    <div>
                        <p>@Html.ActionLink("Terms Of Use", "TermsOfUse", "Special", null, null)</p>
                        <p>@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Special", null, null)</p>
                    </div>
            @* Enable this once you have account confirmation enabled for password reset functionality *@
        }
                </section>
            </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>