@model app_TWINTER.Models.User

@{
    ViewBag.Title = "Registration";
    Layout = null;
}

<h2>Register</h2>

<head>
    <!-- -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Basic Features-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Centralization-->
    <link rel="stylesheet" href="~/Content/Vertical_Horizontal_Align_Style.css">
</head>

<html>

<body background="~/Content/Images/login_registration.jpg">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
 
    <hr />
    
    <div class="HorizVert">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.User1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User1, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

        <div>
            <p>@Html.ActionLink("Terms Of Use", "TermsOfUse", "Special", null, null)</p>
            <p>@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Special", null, null)</p>
        </div>

    </div>
    }
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
